<div id="institution-form-app"></div>

<%= content_for :footer_javascript do %>
  <script>
    window.institutionId = <%== @institution.id.to_json %>;
  </script>

  <%= javascript_pack_tag 'institution_form/entry' %>
<% end %>