<h3>
  Institutions <%= link_to 'New Institution', new_institution_path, class: 'btn btn-primary btn-sm' %>
</h3>

<table class="table table-striped">
  <colgroup>
    <col width="80%">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @institutions.each do |institution| %>
      <tr id="institution_<%= institution.id %>">
        <td><%= institution.name %></td>
        <td>
          <%= link_to 'Edit', edit_institution_path(institution), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Remove',
            institution_path(institution),
            method: :delete,
            data: { confirm: 'Are sure?' },
            class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end.blank? %>
      <tr class="text-center">
        <td colspan="2">Click <%= link_to 'here', new_institution_path %> to create a institution.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @institutions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>