<% if object.errors.any? %>
  <div class="alert alert-danger">
    <p>
      <strong>
        <%= pluralize(object.errors.count, "error") %> prevented this record from being saved:
      </strong>
    </p>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>