<%= form_for @course do |f| %>
  <%= render 'shared/error_messages', object: @course %>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
  </div>

  <%= f.submit nil, class: 'btn btn-success', data: { disable_with: 'Saving...' } %>

  <%= link_to 'Back', courses_path, class: 'btn btn-secondary' %>
<% end %>