<h3>Courses <%= link_to 'New Course', new_course_path, class: 'btn btn-primary btn-sm' %></h3>

<table class="table table-striped">
  <colgroup>
    <col width="80%">
    <col>
  </colgroup>

  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% if @courses.each do |course| %>
      <tr id="course_<%= course.id %>">
        <td><%= course.name %></td>
        <td>
          <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-secondary btn-sm' %>
          <%= link_to 'Remove',
            course_path(course),
            method: :delete,
            data: { confirm: 'Are sure?' },
            class: 'btn btn-danger btn-sm' %>
        </td>
      </tr>
    <% end.blank? %>
      <tr class="text-center">
        <td colspan="2">Click <%= link_to 'here', new_course_path %> to create a course.</td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @courses, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>