<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AppProva</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <%= active_link_if_controller('dashboard') %>">
        <a class="nav-link" href="/">Dashboard</a>
      </li>

      <li class="nav-item <%= active_link_if_controller('courses') %>">
        <%= link_to 'Courses', courses_path, class: 'nav-link' %>
      </li>

      <li class="nav-item <%= active_link_if_controller('institutions') %>">
        <%= link_to 'Institutions', institutions_path, class: 'nav-link' %>
      </li>
    </ul>
  </div>
</nav>