<!DOCTYPE html>
<html>
  <head>
    <title>AppProvaTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div class="container">
      <%= render 'layouts/flash_notice' %>

      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <%= yield :footer_javascript %>
  </body>
</html>
